h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: orange;
    position: relative;
    margin-left: 600px;

}

h2 {
    font-size: 30px;
    font-family:'Indie Flower', cursive;
    margin-left: 650px;
}

p {
    font-family: 'Indie Flower', cursive;;
    font-size: 16px;
    padding: 20px;
}

.logo {
    background-size: cover;
    background-image: url("./images/logo-emblem-black-1000.png");
    background-color: wheat;
}
