html, body {
    font-family: sans-serif;
}

.container {
    background-color: #2b2d2f;
    position: relative;
}

.element {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 280px;
    font-size: 36px;
}

#yellow-box {
    background-color: #ffff00;

    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}

#pink-box {
    background-color: #ff69b4;
    position: relative;
    bottom: 50%;
    left: 50%;
    right: 50%;
    top: 50%;
    z-index: index 1;
}

#blue-box {
    background-color: #00eeee;
    position: absolute;
    bottom: 40%;
    left: 40%;
    right: 40%;
    top: 40%;
    z-index: 2;
}

#red-box {
    background-color: #ff0000;
    position: fixed;
    bottom: 200px;
    left: 200px;
    right: 200px;
    top: 200px;
    z-index: 3;
}

#orange-box {
    background-color: #ffa500;
    position: sticky;
    bottom: 70%;
    left: 70%;
    right: 70%;
    top: 70%;
    height: 200px;
    width: 500px;
    z-index: 4;
}
